.homepage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem;

  img {
    max-width: 960px;
    max-height: 80vh;
  }

  h2 {
    padding-bottom: 0.25rem;
    font-weight: 300;
    line-height: 1;
    text-decoration: underline;
    text-decoration-thickness: 0.05em;
    text-underline-offset: 0.2em;
    text-decoration-color: transparent;
    transition: color 0.3s ease, text-decoration 0.3s ease;
  }

  span {
    color: #a8a8a8;
    font-weight: 300;
  }

  &__header {
    padding-bottom: 2rem;

    a:hover {
      h2 {
        color: #00f3ff;
        text-decoration-color: #00f3ff;
        transition: color 0.3s ease, text-decoration 0.6s ease;
      }
    }

    h2 {
      padding: 0.5rem 0;
    }

    h4 {
      padding-bottom: 0.5rem;
    }
  }

  .project {
    padding: 0 0 6rem;

    h2 {
      padding: 1rem 0 0.5rem;
    }

    a:hover {
      img {
        filter: invert(1);
        transition: filter 0.7s ease;
      }

      h2 {
        color: #00f3ff;
        text-decoration-color: #00f3ff;
        transition: color 0.3s ease, text-decoration 0.6s ease;
      }
    }

    &__img {
      width: 100%;
      height: auto;
      filter: invert(0);
      transition: filter 0.7s ease;
      transform: translateZ(0);

      &--gossamer {
        width: auto;
      }
    }

    &__description {
      width: 640px;
      padding-top: 0;
    }

    &__date {
      padding: 0.25rem 0 0.5rem;
      color: #a8a8a8;
    }
  }
}
