.project {
  padding: 2rem;

  img {
    width: 100%;
    height: auto;
    max-width: 960px;
  }

  .hero {
    &__copy {
      width: 720px;
      padding: 2rem 0 3rem;

      &__title {
        padding-bottom: 1rem;

        h3 {
          font-size: 1.5rem;
          font-weight: 400;
        }
      }
    }
  }

  &__iteration {
    padding-bottom: 3rem;
  }

  &__description {
    width: 720px;
    padding-top: 1rem;

    h5 {
      padding-top: 0.25rem;
      color: #a8a8a8;
    }

    &__title {
      padding-bottom: 0.5rem;
    }
  }

  &--sheet-one {
    padding: 2rem 0 3rem;
    
    img {
      width: auto;
      height: 80vh;
      margin-bottom: 2rem;
    }

    .project__img {
      &--sheet-one-2 {
        border: 1px solid #86ba4f;
      }
    }
  }
}