@mixin vox($weight: 400, $style: normal) {
  font-family: vox, sans-serif;
  font-weight: $weight;
  font-style: $style;

  // Light
  // font-weight: 300;

  // Regular + Italic
  // font-weight: 400;
  // font-style: italic;

  // Medium
  // font-weight: 500;

  // Bold + Bold Italic
  // font-weight: 700;
  // font-style: italic;
}

@mixin prometo($weight: 200) {
  font-family: prometo, sans-serif;
  font-weight: $weight;
  font-style: normal;
  //   font-weight: 200;
  //   font-weight: 300;
  //   font-weight: 400;
  //   font-weight: 500;
  //   font-weight: 700;
  //   font-style: italic;
}

@mixin fit {
  font-family: fit, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin fit-wide {
  font-family: "fit-wide", sans-serif;
  font-weight: 400;
  font-style: normal;

}

body {
  @include vox;
}

h1 {
  @include fit-wide;
  font-size: 26.5vw;
  line-height: 1;

  @include bp("small") {
    font-size: 8rem;
  }
}

h2 {
  font-weight: 400;
}

h4 {
  font-size: 1.25rem;
  font-weight: 400;
}

h5 {
  font-size: 0.875rem;
  font-weight: 300;
}

p {
    padding-bottom: 0.75rem;
    font-size: 1.125rem;
    line-height: 1.375;
}

a {
  color: #00f3ff;
  text-decoration: underline;
  text-decoration-thickness: 0.05em;
  text-underline-offset: 0.2em;

  &:hover {
    color: white;
    text-decoration-color: white;
    transition: color 0.3s ease, text-decoration 0.3s ease;
  }
}

.italics {
  font-style: italic;
}