.vcard {
    &__outer {
        width: 24.375rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        max-width: 33.75rem;
    }
}