.vcard {
  h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    padding-bottom: 0.5rem;
  }

  h2 {
    font-size: 1.125rem;
    font-weight: 700;
    margin: 0;
  }

  &__outer {
    width: 24.375rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 33.75rem;
  }

  &__inner {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 0.063rem;
  }

  .hero {
    align-self: stretch;
    position: relative;
    min-height: 14.375rem;
    max-height: 14.375rem;

    &__image {
      position: absolute;
      height: calc(100% - 10.7px);
      width: 100%;
      object-fit: cover;
    }
  }

  .title {
    position: absolute;
    width: calc(100% + 30px);
    top: -3.812rem;
    right: -0.937rem;
    left: -0.937rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;

    &__logo {
      img {
        width: 6.25rem;
        position: relative;
        border-radius: 50px;
        height: 6.25rem;
        object-fit: cover;
      }
    }
  }

  .connect-icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
     position: absolute;
    top: 8.5rem;
    right: -0.937rem;
    left: -0.937rem;

    &__item {
      width: 2.625rem;
      border-radius: 40px;
      background-color: #e0ffff;
      height: 2.625rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 0.75rem 0.75rem 0.562rem;
      box-sizing: border-box;

      img {
        width: 1.125rem;
        position: relative;
        height: 1.125rem;
        overflow: hidden;
        flex-shrink: 0;
      }
    }
  }
}
