.vcard {
  * {
    box-sizing: border-box;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    padding-bottom: 0.5rem;
  }

  h2 {
    font-size: 1.125rem;
    font-weight: 700;
    margin: 0;
  }

  &__outer {
    width: 24.375rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 33.75rem;
  }

  &__inner {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 0.063rem;
  }

  .hero {
    align-self: stretch;
    position: relative;
    min-height: 14.375rem;
    max-height: 14.375rem;

    &__image {
      position: absolute;
      height: calc(100% - 10.7px);
      width: 100%;
      object-fit: cover;
    }
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid rgba(136, 136, 138, 0.1);
    box-shadow: 0px 0px 3px rgba(136, 136, 138, 0.23);
    padding: 0.062rem;
    font-size: 0.75rem;

    .section-header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
      height: 2.5rem;
      padding-left: 1.25rem;

      img {
        width: 18px;
        height: 18px;
        object-fit: cover;

        &.location-icon {
          width: 13px;
        }
      }
    }

    &--title {
      margin-top: -3.5rem;
      box-shadow: none;
      border: none;
      background-color: transparent;
    }

    &--contact {
      ul {
        width: 100%;
        padding: 0.312rem 1.25rem 0.625rem;
        list-style-type: none;
      }

      li {
        width: 100%;
        padding: 0.75rem 0rem 0.687rem;
        border-bottom: 1px solid #eceef7;

        &:last-child {
          border-bottom: none;
        }
      }

      h5 {
        padding-bottom: 0.125rem;
      }

      .save-vcard {
        position: absolute;
        top: 0.688rem;
        right: 1rem;
        box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.18),
          0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 60px;
        background-color: #374793;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0.437rem 0.437rem 0.437rem 0.937rem;
        cursor: pointer;
        color: #fff;

        .save-vcard__icon {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          width: 1.769rem;
          height: 1.769rem;
          margin-left: 0.425rem;
          padding: 0.25rem 0.125rem 0.25rem 0.25rem;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, 0.35);

          img {
            width: 1.125rem;
            height: 1.125rem;
            position: relative;
            height: 1.125rem;
            overflow: hidden;
            flex-shrink: 0;
          }
        }
      }
    }

    &--location {
      p {
        padding-left: 1.25rem;
      }

      .location-button {
        border-radius: 4px;
        border: 1px solid #6c757d;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin: 1rem 1.25rem 1.25rem;
        padding: 0.625rem;
        text-align: center;
        font-size: 1rem;
        color: #6c757d;
      }
    }
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1.25rem;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;

    &__logo {
      img {
        width: 6.25rem;
        position: relative;
        border-radius: 50px;
        height: 6.25rem;
        object-fit: cover;
      }
    }
  }

  .connect-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    margin-bottom: 0.5rem;

    &__item {
      width: 2.625rem;
      border-radius: 40px;
      background-color: #e0ffff;
      height: 2.625rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 0.75rem 0.75rem 0.562rem;
      box-sizing: border-box;

      img {
        width: 1.125rem;
        position: relative;
        height: 1.125rem;
        overflow: hidden;
        flex-shrink: 0;
      }
    }
  }
}
